<div class="disposition">
    <input type="text" [(ngModel)]="urlImageSaisie">
    <div (click)="onClicAjouterImage()" class="btnAjouter">Ajouter une image</div>
</div>

<div class="categories">

    @for(categorie of categories; track $index) {


    <div class="categorie">
        <div class="en-tete">
            {{ categorie.titre }}
        </div>


        @for(image of categorie.images; track $index){
        <div class="image"><img src="{{ image }}"></div>
        <div class="image">Mon image B</div>
        }
    </div>

    }

</div>